In [ ]:
#.csd .

In [ ]:
file = open('<file name>','<mode>')
#file.close()

with  open('<file name','<mode>') as file:
    <opratations>

In [ ]:
# modes
# read -> 'r'
#create -> 'x'
#write -> 'w'
#append -> 'a'

In [1]:
file = open('data.txt','x')
file.close() #run 2 times makes error

In [2]:
#error
try:
    file = open('data.txt','x')
    file.close()
except:
    print('The file is already there')

The file is already there

In [4]:
file = open('data.txt','r')
x = file.read()
print(x)
file.close()

1. Hello world
2. Hello world
3. Hello world
4. Hello world
5. Hello world
6. Hello world
7. Hello world

In [7]:
file = open('data.txt','r')
x = file.read()
print(x)
print(type(x))
file.close()

1. Hello world
2. Hello world
3. Hello world
4. Hello world
5. Hello world
6. Hello world
7. Hello world
<class 'str'>

In [9]:
y = x.split('\n')
y

['1. Hello world',
 '2. Hello world',
 '3. Hello world',
 '4. Hello world',
 '5. Hello world',
 '6. Hello world',
 '7. Hello world']

In [11]:
y[4]

'5. Hello world'

In [12]:
file = open('data.txt','w')
file.write('Hello world I am python')
file.close()

In [18]:
bill = "" 
n = int(input('enter n = '))
for i in range(n):
    name = input('enter name = ')
    price = int(input('enter price = '))
    quantity = int(input('enter quantity = '))
    total = price*quantity
    bill = bill +f"{name} {price} {quantity} {total}\n"
    
file = open('datas.txt','w')
file.write(bill)
file.close()

enter n = 2
enter name = Apple
enter price = 120
enter quantity = 3
enter name = Potato
enter price = 100
enter quantity = 12

In [20]:
bill = "" 
n = int(input('enter n = '))
for i in range(n):
    name = input('enter name = ')
    price = int(input('enter price = '))
    quantity = int(input('enter quantity = '))
    total = price*quantity
    bill = bill +f"\n{name} {price} {quantity} {total}\n"
    
file = open('datas.txt','a')
file.write(bill)
file.close()

enter n = 2
enter name = Mango
enter price = 100
enter quantity = 20
enter name = Pineapple
enter price = 50
enter quantity = 2

In [22]:
bill = "" 
n = int(input('enter n = '))
for i in range(n):
    name = input('enter name = ')
    price = int(input('enter price = '))
    quantity = int(input('enter quantity = '))
    total = price*quantity
    bill = bill +f"{name},{price},{quantity},{total}\n"
    
file = open('datas.csv','w')
file.write('Name,Price,Quantity,Total\n')
file.write(bill)
file.close()

enter n = 3
enter name = Iphone
enter price = 15000
enter quantity = 2
enter name = Ipad
enter price = 30000
enter quantity = 2
enter name = Mouse
enter price = 1500
enter quantity = 1

In [23]:
file = open('datas.csv','r')
x = file.read()
print(x)
file.close()

Name,Price,Quantity,Total
Iphone,15000,2,30000
Ipad,30000,2,60000
Mouse,1500,1,1500

In [24]:
y = x.split('\n')
y

['Name,Price,Quantity,Total',
 'Iphone,15000,2,30000',
 'Ipad,30000,2,60000',
 'Mouse,1500,1,1500',
 '']

In [30]:
y = x.split('\n')[0:-1]
y

['Name,Price,Quantity,Total',
 'Iphone,15000,2,30000',
 'Ipad,30000,2,60000',
 'Mouse,1500,1,1500']

In [32]:
bills = []
for i in y:
    bills.append(i.split('.'))

bills

[['Name,Price,Quantity,Total'],
 ['Iphone,15000,2,30000'],
 ['Ipad,30000,2,60000'],
 ['Mouse,1500,1,1500']]

In [1]:

all_total = 0
for i in range(1, len(bills)):
    z = int(bills[i][3])
    all_total = all_total+z
    
all_total

NameError: name 'bills' is not defined

In [ ]:
#pandas
#csv

In [2]:
try:
    file = open('data.csv', 'x')
    file = close()
except:
    passa

In [4]:
import pandas as pd
df = pd.read_csv('data.csv')
df

ModuleNotFoundError: No module named 'pandas'