In [ ]:
#dict
#indeed
    ordered
    mutiple values
    mutable datatype

In [1]:
#d = {}
#d = dict{}
d = {(key):(value):(key):(value):...}

SyntaxError: invalid syntax (2330500641.py, line 3)

In [2]:
d = {"a" : "apple","b":"banana"}
print(d)

{'a': 'apple', 'b': 'banana'}

In [5]:
d["b"]

'banana'

In [6]:
len(d)

2

In [7]:
d = {"a" : "apple","b":"banana"}
d["a"] = "Apple"

d

{'a': 'Apple', 'b': 'banana'}

In [8]:
d = {"a" : "apple","b":"banana"}
d['d'] = "dog"

d

{'a': 'apple', 'b': 'banana', 'd': 'dog'}

In [9]:
d= {}
d["a"] = "apple"
d["b"] = "ball"
d["c"] = "cat"
d

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [10]:
d = {}
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    phone = input("enter phone = ")
    d[name] = phone
    
print(d)

enter n = 2
enter name = ram
enter phone = 9818519307
enter name = shyam
enter phone = 9813329357
{'ram': '9818519307', 'shyam': '9813329357'}

In [11]:
for i in d:
    print(i)

ram
shyam

In [13]:
for i in d.values():
    print(i)

9818519307
9813329357

In [14]:
for i in d.items():
    print(i)

('ram', '9818519307')
('shyam', '9813329357')

In [19]:
x = []
d = {'ram': '9818519307', 'shyam': '9813329357'}
for i in d.items():
    x.append(i)
print(x)

[('ram', '9818519307'), ('shyam', '9813329357')]

In [20]:
dict(x)

{'ram': '9818519307', 'shyam': '9813329357'}

In [21]:
d = {'ram': '9818519307', 'shyam': '9813329357'}
c = {"hari" : 981121546}
d.update(c)
d

{'ram': '9818519307', 'shyam': '9813329357', 'hari': 981121546}

In [22]:
d = {'ram, sita': '9818519307', 'shyam': '9813329357'}
d

{'ram, sita': '9818519307', 'shyam': '9813329357'}

In [23]:
d = {'0': '9818519307', '1': '9813329357'}
d

{'0': '9818519307', '1': '9813329357'}

In [27]:
d = {"ram", "sita" : '9818519307', 'shyam': '9813329357'}
d("ram", "sita")

SyntaxError: invalid syntax (2556030558.py, line 1)

In [33]:
#del pop
d = {'ram': '9818519307', 'shyam': '9813329357'}
del d['ram']
d

{'shyam': '9813329357'}

In [35]:
d = {'ram': '9818519307', 'shyam': '9813329357'}
d.pop('ram')
d

{'shyam': '9813329357'}

In [36]:
d = {'ram': '9818519307', 'shyam': '9813329357'}
d.clear()
d

{}

In [37]:
#list inside dictionary
d = {'ram': [9818519307, 985448485], 'shyam': [9813329357,9561485664]}

In [39]:
d

{'ram': [9818519307, 985448485], 'shyam': [9813329357, 9561485664]}

In [44]:
print(d['ram'])
print(d['ram'][0])

[9818519307, 985448485]
9818519307

In [45]:
d = {}
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    ntc_phone = int(input("enter ntc_phone = "))
    ncell_phone = int(input("enter ncell_phone = "))
    d[name] = [ntc_phone, ncell_phone]
    
d

enter n = 2
enter name = rajan
enter ntc_phone = 9843532131
enter ncell_phone = 9818519307
enter name = sita
enter ntc_phone = 9856645465
enter ncell_phone = 484545456464

{'rajan': [9843532131, 9818519307], 'sita': [9856645465, 484545456464]}

In [46]:
d = {}
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    ntc_phone = int(input("enter ntc_phone = "))
    ncell_phone = int(input("enter ncell_phone = "))
    age = int(input("enter age = "))
    d[name] = [ntc_phone, ncell_phone, age]
    
d

enter n = 2
enter name = rajan
enter ntc_phone = 5456446546
enter ncell_phone = 4654655
enter age = 12
enter name = sita
enter ntc_phone = 56454654
enter ncell_phone = 54654654
enter age = 22

{'rajan': [5456446546, 4654655, 12], 'sita': [56454654, 54654654, 22]}

In [47]:
a = {'rajan': [9843532131, 9818519307], 'sita': [9856645465, 484545456464]}
a['hari'] = [9988945658, 656548465]

In [48]:
a

{'rajan': [9843532131, 9818519307],
 'sita': [9856645465, 484545456464],
 'hari': [9988945658, 656548465]}

In [53]:
a = {'rajan': [9843532131, 9818519307], 'sita': [9856645465, 484545456464]}
a['rajan'][0]

9843532131

In [52]:
a = {'rajan': [9843532131, 9818519307], 'sita': [9856645465, 484545456464]}
a['rajan'][0] = 9856556454
a

{'rajan': [9856556454, 9818519307], 'sita': [9856645465, 484545456464]}

In [55]:
a = {'rajan': [9843532131, 9818519307], 'sita': [9856645465, 484545456464]}
a['rajan'].append(984566545)
a

{'rajan': [9843532131, 9818519307, 984566545],
 'sita': [9856645465, 484545456464]}

In [2]:
name = []
age = []
add = []
n = input("enter n = ")
for i in range(n):
    na = input("enter na = ")
    ag = int(input("enter ag = "))
    ad = input("enter ad = ")
    name.append(na)
    age.append(ag)
    add.append(ad)
    
a = {"name" == name, "age" == age, "address" == add}
a

enter n = 2

TypeError: 'str' object cannot be interpreted as an integer

In [1]:
#dictionery inside list
l = [{'name' : 'ram', 'age' : 34, ' add' : 'ktm' },
    {'name' : 'shyam', 'age' : 56, 'add': 'bkt'},
    {'name' : 'sita', 'age' : 20, 'add': 'lpr'}]
l

[{'name': 'ram', 'age': 34, ' add': 'ktm'},
 {'name': 'shyam', 'age': 56, 'add': 'bkt'},
 {'name': 'sita', 'age': 20, 'add': 'lpr'}]

In [2]:
data = []
n = int(input("enter n = "))
for i in range(n):
    name = input("enter name = ")
    age = int(input("enter age = "))
    add = input("enter add = ")
    info = {'name' : name, 'age' : age, 'add' : add}
    data.append(info)
    
print(data)

enter n = 2
enter name = ram
enter age = 20
enter add = ktm
enter name = shyam
enter age = 23
enter add = bkt
[{'name': 'ram', 'age': 20, 'add': 'ktm'}, {'name': 'shyam', 'age': 23, 'add': 'bkt'}]

In [3]:
data = [{'name': 'ram', 'age': 20, 'add': 'ktm'},
        {'name': 'shyam', 'age': 23, 'add': 'bkt'}]
data.append({'name' : 'sita', 'age': 26, ' add' : 'lalitpur'})
data

[{'name': 'ram', 'age': 20, 'add': 'ktm'},
 {'name': 'shyam', 'age': 23, 'add': 'bkt'},
 {'name': 'sita', 'age': 26, ' add': 'lalitpur'}]

In [5]:
data[0]

{'name': 'ram', 'age': 20, 'add': 'ktm'}

In [6]:
data[0]['name']

'ram'

In [13]:
data[0]['name'] = 'Rajan'
data

[{'age': 20, 'add': 'ktm', 'name': 'Rajan'},
 {'name': 'shyam', 'age': 23, 'add': 'bkt'},
 {'name': 'sita', 'age': 26, ' add': 'lalitpur'}]

In [ ]:
#del

In [ ]:
#dict inside dict

In [14]:
a = {1 :{'name': 'ram','age': 25, 'add': 'ktm'},
    2: {'name': 'shyam', 'age': 30,'add': 'bkt'}}
a

{1: {'name': 'ram', 'age': 25, 'add': 'ktm'},
 2: {'name': 'shyam', 'age': 30, 'add': 'bkt'}}

In [15]:
a[1]

{'name': 'ram', 'age': 25, 'add': 'ktm'}

In [16]:
a[2]

{'name': 'shyam', 'age': 30, 'add': 'bkt'}

In [20]:
d = {}
n = int(input("enter n = "))
for i in range(1,n+1):
    name = input("enter name = ")
    age = int(input("enter age = "))
    add = input("enter add = ")
    info = {'name' : name, 'age' : age, 'add' : add}
    d[i] = info
    
print(d)

enter n = 2
enter name = ram
enter age = 20
enter add = ktm
enter name = shyam
enter age = 33
enter add = bkt
{1: {'name': 'ram', 'age': 20, 'add': 'ktm'}, 2: {'name': 'shyam', 'age': 33, 'add': 'bkt'}}

In [22]:
a = {1: {'name': 'ram', 'age': 20, 'add': 'ktm'},
     2: {'name': 'shyam', 'age': 33, 'add': 'bkt'}}

a[3] = {'name': 'sita', 'age':23, 'add': 'ktm'}
a

{1: {'name': 'ram', 'age': 20, 'add': 'ktm'},
 2: {'name': 'shyam', 'age': 33, 'add': 'bkt'},
 3: {'name': 'sita', 'age': 23, 'add': 'ktm'}}

In [23]:
a[1]['name'] = 'Rajan'
a

{1: {'name': 'Rajan', 'age': 20, 'add': 'ktm'},
 2: {'name': 'shyam', 'age': 33, 'add': 'bkt'},
 3: {'name': 'sita', 'age': 23, 'add': 'ktm'}}

In [25]:
for i in a.values():
    print(i)

{'name': 'Rajan', 'age': 20, 'add': 'ktm'}
{'name': 'shyam', 'age': 33, 'add': 'bkt'}
{'name': 'sita', 'age': 23, 'add': 'ktm'}

In [26]:
for i in a.values():
    phone = int(input('enter phone = '))
    i['phone'] = phone
    
print(a)

enter phone = 9854112234
enter phone = 985123545
enter phone = 981326478
{1: {'name': 'Rajan', 'age': 20, 'add': 'ktm', 'phone': 9854112234}, 2: {'name': 'shyam', 'age': 33, 'add': 'bkt', 'phone': 985123545}, 3: {'name': 'sita', 'age': 23, 'add': 'ktm', 'phone': 981326478}}

In [27]:
for i in a.values():
    ntc_phone = int(input('enter ntc_phone = '))
    ncell_phone =  int(input('enter ncell_phone = '))
    i['phone'] = [ntc_phone,ncell_phone]
    
print(a)

enter ntc_phone = 9843568995
enter ncell_phone = 981325478
enter ntc_phone = 9832659845
enter ncell_phone = 98185465879
enter ntc_phone = 9851236578
enter ncell_phone = 981313546887
{1: {'name': 'Rajan', 'age': 20, 'add': 'ktm', 'phone': [9843568995, 981325478]}, 2: {'name': 'shyam', 'age': 33, 'add': 'bkt', 'phone': [9832659845, 98185465879]}, 3: {'name': 'sita', 'age': 23, 'add': 'ktm', 'phone': [9851236578, 981313546887]}}

In [37]:
#crud
a = {1:'physics':{'pr':50,'th':55},'chemistry':{'pr':40,'th':88},'math':90}
a

SyntaxError: invalid syntax (2937635437.py, line 2)