In [1]:
for i in range(13):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12

In [13]:
print("hello world")#

hello world

In [15]:
"""
this is a comment
it is a multiline comment
"""
print('hello world')

hello world

In [16]:
type(9)

int

In [17]:
type(1.9)

float

In [19]:
type('world')

str

In [20]:
type(7<9)

bool

In [1]:
animal = ["bird", "tiger" "lion"]

In [2]:
print(animal[1])print

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3982452227.py, line 1)

In [4]:
animal = ["bird", "tiger", "lion"]
print(animal[1])

tiger

In [5]:
fruit = ["apple", "cherry","mango"]

In [ ]:
fruit [0] = "banana"

In [16]:
print("fruit")

fruit

In [9]:
print(fruit[2])

mango

In [13]:
fruit([0]= "banana"

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3218401976.py, line 1)

In [12]:
print(fruit)

['apple', 'cherry', 'mango']

In [14]:
print(fruit)

['apple', 'cherry', 'mango']

In [17]:
fruits=["apple", "banana", "cherry"]

In [18]:
print(fruits)

['apple', 'banana', 'cherry']

In [19]:
fruits[0] = "mango"

In [20]:
print(fruits)

['mango', 'banana', 'cherry']

In [22]:
fruits.append("apple")

In [23]:
print(fruits)

['mango', 'banana', 'cherry', 'apple']

In [24]:
fruits.pop()

'apple'

In [25]:
print(fruits)

['mango', 'banana', 'cherry']

In [26]:
fruits.pop(1)

'banana'

In [27]:
print(fruits)

['mango', 'cherry']

In [6]:
for x in fruits:
    print(x)

NameError: name 'fruits' is not defined

In [10]:
fruits = ["apple","cherry","banana","mango"]

In [11]:
for x in fruits:
    print(x)

apple
cherry
banana
mango

In [1]:
print(len(fruits))

NameError: name 'fruits' is not defined

In [2]:
fruits = ["apple","cherry","banana","mango"]

In [3]:
print(len(fruits))

4

In [4]:
fruits.clear()

In [5]:
fruits

[]

In [6]:
#tuple work
animals=("monkey","lion","tiger","zebra","leopard","elephant")

In [7]:
animals[3]

'zebra'

In [8]:
animals[-3]

'zebra'

In [9]:
animals[-1]

'elephant'

In [10]:
print(animals[2:5])

('tiger', 'zebra', 'leopard')

In [11]:
#loop through tuple

for x in animals:
    print(x)

monkey
lion
tiger
zebra
leopard
elephant

In [12]:
print(len(animals))

6

In [13]:
#joining tuple using + operators
letters = ("a","b","c")
numbers = (1,2,3)
letters_numbers = letters + numbers

In [14]:
letters_numbers

('a', 'b', 'c', 1, 2, 3)

In [37]:
#pyhton dictionary

countries_cites = {
    "Nepal"      : "Kathmandu",
    "India"      : "New Delhi",
    "USA"        : "Washington Dc", 
    "Banglasdesh": "Dhaka"
}

In [39]:
countries_cites["Nepal"]

'Kathmandu'

In [41]:
countries_cites.get("Nepal")

'Kathmandu'

In [42]:
countries_cites["Nepal"]="Baneshwor"

In [43]:
countries_cites["Nepal"]

'Baneshwor'

In [44]:
#add
countries_cites["Japan"] = "Tokyo"

In [45]:
countries_cites["Japan"]

'Tokyo'

In [47]:
#print dictionery
print(countries_cites)

{'Nepal': 'Baneshwor', 'India': 'New Delhi', 'USA': 'Washington Dc', 'Banglasdesh': 'Dhaka', 'Japan': 'Tokyo'}

In [1]:
#remove
countries_cites.pop('Japan')
print(countries_cites)

NameError: name 'countries_cites' is not defined

In [60]:
#print keys
for x in countries_cites:
    print(x)

Nepal
India
USA
Banglasdesh

In [62]:
#print values
for x in countries_cites.values():
    print(x)

Baneshwor
New Delhi
Washington Dc
Dhaka

In [63]:
for x,y in countries_cites.items():
    print(x,y)

Nepal Baneshwor
India New Delhi
USA Washington Dc
Banglasdesh Dhaka

In [68]:
for x,y in countries_cites.items():
    print(x,y)

Nepal Baneshwor
India New Delhi
USA Washington Dc
Banglasdesh Dhaka

In [69]:
print(len(countries_cites))

4

In [1]:
name = []
age = []
address = []
n = input("enter n = ")
for i in range(n):
    name = input("enter n = ")
    age = int(input("enter ag = "))
    address = input("enter add = ")
    name.append(n)
    age.append(ag)
    address.append(add)
a = {"name = n", "age = ag", "address = add"}
a

enter n = 1

TypeError: 'str' object cannot be interpreted as an integer

In [5]:
a = {("rajan" = 981325469),
     ("sita" = 98489454564),
     ("shyam" = 985465546)}
a

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1769842243.py, line 1)