In [6]:
#list in side ways
a = [[1,2,3],
    [4.5,6],
    [7,8,9]]
print(a)

[[1, 2, 3], [4.5, 6], [7, 8, 9]]

In [7]:
print(type(a))

<class 'list'>

In [10]:
a[2]

[7, 8, 9]

In [11]:
a = [[1, 2, 3], [4.5, 6], [7, 8, 9]]

In [12]:
print(a[0])

[1, 2, 3]

In [13]:
print(a[0][2])

3

In [14]:
a = [["ram", 34, "KTM"],
    ["sita", 23, "BKT"]]

In [15]:
a

[['ram', 34, 'KTM'], ['sita', 23, 'BKT']]

In [18]:
a = []
n = int(input("Enter n= "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter add = ")
    i = [name, age , add]
    a.append(i)
    
    print(a)

Enter n= 2
Enter name = ram
Enter age = 34
Enter add = ktm
[['ram', '34', 'ktm']]
Enter name = sita
Enter age = 23
Enter add = bkt
[['ram', '34', 'ktm'], ['sita', '23', 'bkt']]

In [20]:
a = [['ram', '34', 'ktm'], ['sita', '23', 'bkt']]
a.pop(1)

['sita', '23', 'bkt']

In [23]:
a = [['ram', '34', 'ktm'], ['sita', '23', 'bkt']]
del a(0)

SyntaxError: cannot delete function call (3917121335.py, line 2)

In [31]:
a = [['ram', '34', 'ktm'], ['sita', '23', 'bkt'],['hari', 22,'ktm']]

In [33]:
a = [['ram', '34', 'ktm'], ['sita', '23', 'bkt'],['hari', 22,'ktm']]
for i in a:
                                                  print(i)

['ram', '34', 'ktm']
['sita', '23', 'bkt']
['hari', 22, 'ktm']

In [34]:
a = [['ram', '34', 'ktm'], ['sita', '23', 'bkt'],['hari', 22,'ktm']]
search = input("enter name = ")

for i in a:
    if search in i:
        print(i)

enter name = ram
['ram', '34', 'ktm']

In [3]:
a = [['ram', '34', 'ktm'],['sita', '23', 'bkt'],['ram', 22,'ktm']]
search = input("enter name = ")
c = 0
for i in a:
    c = c+1
    print(i)
      
print(f"There are {c}", search)

enter name = ram
['ram', '34', 'ktm']
['sita', '23', 'bkt']
['ram', 22, 'ktm']
There are 3 ram

In [ ]:
#WAP to create a list inside with row and column
r = ?
c = ?
[[1,2,3],
    [4,5,6],
    [7,8,9]]

In [2]:
l = []
r = int(input("enter r = "))
c = int(input("enter c = "))
for i in range(r):
    y = []
    for j in range(c):
        x = input("enter x = ")
        y.append(x)
    l.append(y)
    
print(l)

enter r = 2
enter c = 2
enter x = 123
enter x = 222
enter x = 456
enter x = 159
[['123', '222'], ['456', '159']]

In [4]:
a = [i for i in range (5)]
a

[0, 1, 2, 3, 4]

In [6]:
a = [i for i in range (1,21)]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [12]:
a = [i for i in range (1,21) if i%2==0]
a

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [18]:
a = ["Apple","Banana","mango"]
b = [i for i in a if i.isupper()]
b

[]

In [19]:
a = [i for i in range (1,21) if (i%2==0) & (i%4==0)]
a

[4, 8, 12, 16, 20]

In [21]:
a = ["Apple","Banana","mango","cat","dog"]
b = [i for i in a if i.islower()]
b

['mango', 'cat', 'dog']

In [22]:
a = ["Apple","Banana","mango","cat","dog"]
b = [i for i in a if i.isupper()]
b

[]

In [1]:
#wap to create a billing system using list inside list

bill = []
n = int(input("Enter n= "))
for i in range(n):
    product = input("Enter product = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    i = [product,price,quantity,total]
    bill.append(i)
    
print(bill)

Enter n= 2
Enter product = iphone
Enter price = 100
Enter quantity = 2
Enter product = mango
Enter price = 200
Enter quantity = 1
[['iphone', 100, 2, 200], ['mango', 200, 1, 200]]

In [ ]:

bill = []
n = int(input("Enter n= "))
for i in range(n):
    product = input("Enter product = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    i = [product,price,quantity,total]
    bill.append(i)
    
print(bill)