In [2]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\acer\appdata\local\programs\python\python310\lib\site-packages (2.2.9)

In [2]:
import mysql.connector  		#importing database

database = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
    database = "python3pm"
)
db = database.cursor()

In [17]:
db.execute("SELECT * FROM student")
result =db.fetchall()

for x in result:
  print(x)

(1, 75, 80, 85, 90, 65, 500, 85.2, 'A', 'Rajan')
(2, 75, 80, 85, 90, 65, 500, 85.2, 'A', 'Ram')
(3, 65, 75, 70, 85, 80, 450, 80.45, 'A', 'Ramesh')

In [19]:
db.execute("SELECT sn,name,total FROM student")
result =db.fetchall()

for x in result:
  print(x)

(1, 'Rajan', 500)
(2, 'Ram', 500)
(3, 'Ramesh', 450)

In [21]:
#inserting data
sql = f"INSERT INTO student(sn,name,physics,chemistry,math,english,nepali,total,per,grade)values(7,'Sajan',88,90,75,88,86,550,87,'A')"
db.execute(sql)
database.commit()

In [24]:
#inserting data
sql = f"INSERT INTO student(sn,name,physics,chemistry,math,english,nepali,total,per,grade)values(8,'Shyam',90,92,95,93,88,600,90.5,'A')"
db.execute(sql)
database.commit()

In [8]:
name = input("enter name = ")
physics = int(input("enter physics = "))
math = int(input("enter math = "))
chemistry = int(input("enter chemistry = "))
english = int(input("enter english = "))
nepali = int(input("enter nepali = "))
total = sum([physics,math,chemistry,english,nepali])
per = total/5
if per >= 80:
    grade = 'A'
elif per >= 70:
    grade = 'B'
elif per >= 60:
    grade = 'C'
else:
    grade = 'F'
    
sql = f"INSERT INTO student(name,physics,chemistry,math,english,nepali,total,per,grade) VALUES('{name}',{physics},{math},{chemistry},{english},{nepali},{total},{per},'{grade}')"
db.execute(sql)
database.commit()

enter name = Shreya
enter physics = 92
enter math = 95
enter chemistry = 88
enter english = 90
enter nepali = 75

In [12]:
sql = "DELETE FROM student WHERE sn = 8"
db.execute(sql)
database.commit()

In [4]:
#update
sql = "UPDATE student SET name = 'Aniyah' WHERE name = 'Shreya'"
db.execute(sql)
database.commit()