In [2]:
print("hello world")

hello world

In [ ]:
a = 10

In [ ]:
#if <condition>:
    <operations>
elif<condition>:
    <operations>
...
else:
    <operations>

In [ ]:
#< > <= >= != ==

In [4]:
a = 10
b = 12
a<b

True

In [1]:
n = 10
a = int(input("enter a = "))
if a>n:
    print("a is greater")
else:
    print("a is smaller")

enter a = 12
a is greater

In [2]:
n = 10
a = int(input("enter a = "))
if a>n:
    print("a is greater")
else:
    print("a is smaller")

enter a = 9
a is smaller

In [3]:
n = 10
a = int(input("enter a = "))
if a>n:
    print("a is greater")
else:
    print("a is smaller")

enter a = 10
a is smaller

In [6]:
10/2 == 0

False

In [8]:
n  = int(input("enter n = "))
if n%2 == 0:
    print(n,"is even number")
else:
    print(n, "is odd number")

enter n = 11
11 is odd number

In [9]:
n = int(input("Enter n = "))
a = int(input("enter a = "))
if a>n:
    print("a is greater")
elif n>a:
    print("n is greater") 
else:
    print("a and n are equal")

Enter n = 20
enter a = 15
n is greater

In [10]:
n = int(input("Enter n = "))
a = int(input("enter a = "))
if a>n:
    print("a is greater")
elif n>a:
    print("n is greater") 
else:
    print("a and n are equal")

Enter n = 10
enter a = 10
a and n are equal

In [14]:
physics = int(input("enter physics marks = "))
chemistry = int(input("enter chemistry marks = "))
math = int(input("enter math marks = "))
english = int(input("enter english marks = "))

total = physics+chemistry+math+english
per = total/4

if per >= 80:
    grade = "A"
elif per >=70:
    grade ="B"
elif per >=60:
    grade = "C"
else:
    grade = "F"
    
print("total->",total)
print("per->",per)
print("grade->",grade)

enter physics marks = 70
enter chemistry marks = 80
enter math marks = 90
enter english marks = 60
total-> 300
per-> 75.0
grade-> B

In [15]:
physics = int(input("enter physics marks = "))
chemistry = int(input("enter chemistry marks = "))
math = int(input("enter math marks = "))
english = int(input("enter english marks = "))

total = physics+chemistry+math+english
per = total/4

if per >= 80:
    grade = "A"
elif per >=70:
    grade ="B"
elif per >=60:
    grade = "C"
else:
    grade = "F"
    
print("total",total)
print("per",per)
print("grade",grade)

enter physics marks = 60
enter chemistry marks = 40
enter math marks = 40
enter english marks = 50
total 190
per 47.5
grade F

In [17]:
#+ - * / 
a = int(input("enter a = "))
b = int(input("enter b = "))
o = input("enter + - * /")
if o =='+':
    print(a+b)
elif o == '-':
    print(a-b)
elif o == '*':
    print(a*b)
elif o =='/':
    print(a/b)
else:
    print('invalid operator')

enter a = 25
enter b = 5
enter + - * //
5.0

In [18]:
#+ - * / 
a = int(input("enter a = "))
b = int(input("enter b = "))
o = input("enter + - * /")
if o =='+':
    print(a+b)
elif o == '-':
    print(a-b)
elif o == '*':
    print(a*b)
elif o =='/':
    print(a/b)
else:
    print('invalid operator')

enter a = 20
enter b = 10
enter + - * /%
invalid operator

In [21]:
#+ - * / 
a = int(input("enter a = "))
b = int(input("enter b = "))
o = input("enter + - * /")
if o =='+':
    print(a+b)
elif o == '-':
    print(a-b)
elif o == '*':
    print(a*b)
elif o =='/':
    print(a/b)
else:
    print('invalid operator')

enter a = 10
enter b = 0
enter + - * //

ZeroDivisionError: division by zero

In [22]:
True + False

1

In [ ]:
and - > &
1*0 = 0
0*1 = 0
0*0 = 0
1*1 = 1

In [ ]:
or - > &
1+0 = 1
0+1 = 1
0+0 = 0
1+1 = 1

In [24]:
True and False

False

In [25]:
True or False

True

In [28]:
#+ - * / 
a = int(input("enter a = "))
b = int(input("enter b = "))
o = input("enter + - * /")
if o =='+':
    print(a+b)
elif o == '-':
    print(a-b)
elif o == '*':
    print(a*b)
elif o =='/'and b != 0:
    print(a/b)
elif o =='/'and b == 0:
    print("The value of b cannot be zero")

else:
    print('invalid operator')

enter a = 10
enter b = 0
enter + - * //
The value of b cannot be zero

In [31]:
#+ - * / 
a = int(input("enter a = "))
b = int(input("enter b = "))
o = input("enter + - * /")
if o =='+':
    print(a+b)
elif o == '-':
    print(a-b)
elif o == '*':
    print(a*b)
elif o =='/' and b != 0:
    print(a/b)
elif o =='/'and b == 0:
    print("The value of b cannot be zero")

else:
    print('invalid operator')

enter a = 10
enter b = 0
enter + - * //
The value of b cannot be zero

In [ ]:
if <condition>:
    if<condition>:
        <operations>
    elif<condition>:
        <operations>
    else:
        <operations>
else:
    <operations>

In [ ]:
#for
#while

In [ ]:
range(5) 0,1,2,3,4
range(1,5) 1,2,3,4
range(1,5,2) 1,3

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(1,5):
    print(i)

1
2
3
4

In [5]:
for i in range(1,10,5):
    print(i)

1
6

In [6]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [7]:
for i in range(5):
    print('hello world')

hello world
hello world
hello world
hello world
hello world

In [8]:
for i in range(5):
    print(i, 'hello world')

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world

In [10]:
for i in range(1,11):
    print(5*i)

5
10
15
20
25
30
35
40
45
50

In [13]:
n = int(input("enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

enter n = 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [14]:
for i in range(2):
    x = int(input("enter x = "))
    print(x)

enter x = 25
25
enter x = 22
22

In [1]:
s = 0
n = int(input("enter n = "))
for i in range(n):
    x = int(input('enter x = '))
    s = s+x
    
print(s)

enter n = 2
enter x = 12
enter x = 14
26

In [2]:
s = 0
n = int(input("enter n = "))
for i in range(n):
    x = int(input('enter x = '))
    
print(x)

enter n = 2
enter x = 5
enter x = 10
10

In [3]:
n = int(input("enter n = "))
for i in range(n):
    x = int(input('enter x = '))
    s = s+x
    
print(s)

enter n = 2
enter x = 5
enter x = 5
10

In [8]:
s = str()
n = int(input("enter n = "))
for i in range(n):
    x = input('enter x = ')
    s = s + x + " "
    
print(s)

enter n = 3
enter x = ram
enter x = rajan
enter x = shyam
ram rajan shyam

In [2]:
s = str()
n = int(input("enter n = "))
for i in range(n):
    name = input('enter x = ')
    add = input('enter add = ')
    phone = int(input('enter phone = '))
    s = s+name+" "+add+" "+str(phone)+"\n"
    
print(s)

enter n = 2
enter x = ram
enter add = ktm
enter phone = 98556546656
enter x = shyam
enter add = llt
enter phone = 6565565445
ram ktm 98556546656
shyam llt 6565565445

In [3]:
s = str()
n = int(input("enter n = "))
for i in range(n):
    name = input('enter name = ')
    add = input('enter add = ')
    phone = int(input('enter phone = '))
    s = s+name+" "+add+" "+str(phone)+"\n"
    
print(s)

enter n = 3
enter name = ram
enter add = ktm
enter phone = 54545545454
enter name = ssham
enter add = lit
enter phone = 4545544554
enter name = sita
enter add = ktm
enter phone = 5546664878787
ram ktm 54545545454
ssham lit 4545544554
sita ktm 5546664878787

In [4]:
print(s)

ram ktm 54545545454
ssham lit 4545544554
sita ktm 5546664878787

In [7]:
#4! = 1*2*3*4
fac = 1
n = int(input('enter n = '))
for i in range(1,n+1):
    fac = fac * i
    print(fac)

enter n = 5
1
2
6
24
120

In [9]:
for i in range(1,n+1):
    print(i)

1
2
3
4
5

In [11]:
a = "python"
print(a)

python

In [12]:
a = "python"
for i in a:
    print(i)

p
y
t
h
o
n

In [13]:
a = "python"
for i in a:
    print(i,'hello world')

p hello world
y hello world
t hello world
h hello world
o hello world
n hello world

In [16]:
a = "python"
for i in range(4):
    print(a[i],end = "")

pyth

In [20]:
a = "python"
for i in range(len(a)):
    print(a[i],end = "")

python

In [21]:
a = "python"
for i in range(len(a)):
    print(a[i],end = "")

python